<div style="background: gray; color: black; padding: 0; margin: 0">

  <!-- The parent linear layout - controls the column based layout -->
  <fx-linear-layout
    [orientation]="'horizontal'"
    [min-h]="'720px'" [max-h]="'100vh'"
    [gravity-x]="'center'">


    <!-- The side bar layout, takes 20% of the total width -->
    <div [h] [w] [flex]="'20%'" style="background: cornflowerblue">
      <!-- The side bar contains vertical linear layout to display the items -->
      <fx-linear-layout
        [orientation]="'vertical'"
        [padding]="'5px'"
        [gravity-x]="'fill'">

        <!-- The brand/logo area -->
        <div [flex]="'20%'" id="menu-brand" style="background: red; color: white">
          <p>20% of parent size</p>
          <p>I'm the brand logo</p>
        </div>

        <!-- The menu content -->
        <div [flex]="'80%'" id="menu-content" style="background: blue; color: white">
          <p>80% of parent size</p>
          <p>Item 1</p>
          <p>Item 2</p>
          <p>Item 3</p>
        </div>

      </fx-linear-layout>
    </div>

    <!-- The main content layout, takes 70% of the total width -->
    <div [h] [w] [flex]="'70%'" style="background: white">

      <div style="padding: 10px;">
        The main content:

        <!-- A linear layout to display the photos in a grid (the trick is to use the wrap=true) -->
        <fx-linear-layout style="background: gray;"
                          [max-h]="'100vh'"
                          [orientation]="'horizontal'"
                          [gravity-x]="'between'"
                          [wrap]="true"
                          [margin]="'10px 0 0 0'"
                          [scroll-y]="true"
                          [scroll-x]="false"
        >

          <!-- Create some frame layouts to mock images -->
          <fx-frame-layout *ngFor="let i of array" style="background: mediumblue; color: white; margin-top: 20px;"
                           [flex]="'200px'"
                           [h]="'200px'"
                           [padding]="'20px'"
          >

            <top-center>
              <div style="padding: 10px;">User {{i}}</div>
            </top-center>

            <center-center>
              Image {{i}}
            </center-center>

            <bottom-left>
              <div style="padding: 10px;">skip</div>
            </bottom-left>

            <bottom-right>
              <div style="padding: 10px;">like</div>
            </bottom-right>

          </fx-frame-layout>

        </fx-linear-layout>

      </div>

    </div>

  </fx-linear-layout>

</div>
